@import '../../../node_modules/ng2-material/source/core/style/variables';
@import '../../../node_modules/ng2-material/source/core/style/mixins';
@import '../../../node_modules/ng2-material/source/core/style/default-theme';

.secret-project {
  width: 256px;
  height: 256px;
  font-size: 256px;
  color: md-color($md-primary, 900, 0.6);
}

md-toolbar[md-hero] {
  margin-bottom: 40px;
}

md-input-container > select {
  margin: 0;
  order: 2;
  display: flex;
}
