@import "../../../ng2-material/core/style/variables";
@import "../../../ng2-material/core/style/theme-functions";
@import "../../../ng2-material/core/style/default-theme";

body {
  padding: 20px;
}

h4 {
  margin: 10px 0;
}

md-progress-linear:not([mode=query]) {
  padding-top: 10px;
  margin-bottom: 20px;
}

p.small > code {
  font-size: 0.8em;
}

.visible {
  opacity: 0;
  border: 2px solid white !important;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  border: 2px solid md-color($md-primary, 100);
  transition: opacity 0.1s linear;
  border-top: 0px;
}

.bottom-block {
  display: block;
  position: relative;
  background-color: rgba(255, 235, 169, 0.25);
  height: 85px;
  width: 100%;
}

.bottom-block > span {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  font-size: 0.9em;
}
