section {
  padding: 32px;
  width: 100%;
}
h1 {
  color: #3f51b5;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 40px;
}
h2 {
  margin: 0;
  font-size: 15px;
  line-height: 16px;
  padding: 12px 0;
  font-weight: 400;
  color: #757575;
}
