<div layout="row" layout-padding layout-wrap layout-fill ng-cloak>
  <section class="utility-classes">
    <h1>Utility Classes</h1>
    <md-divider></md-divider>
    <div>
      <h2>.md-elevation-z{evlevationValue}</h2>
      <p>Where {evlevationValue} represents a elements elevation with a value from 0 to 24</p>
      <p>Adds box-shadow that represents an elements elevation</p>
      <p>Usage: <code>&lt;div class=&quot;md-elevation-z5&quot;&gt;&lt;/div&gt;</code></p>
    </div>
    <md-divider></md-divider>

  </section>

  <section class="utility-components">
    <h1>Utility Components</h1>
    <md-divider></md-divider>
    <div>
      <h2>md-divider</h2>
      <p>Usage: <code>&lt;md-divider&gt;&lt;/md-divider&gt;</code></p>
    </div>
    <md-divider></md-divider>

  </section>



</div>
