tabs-dynamic-tabs form h2.md-subhead {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap; }
tabs-dynamic-tabs md-content {
  background-color: transparent !important; }
  tabs-dynamic-tabs md-content md-tabs {
    border: 1px solid #e1e1e1; }
    tabs-dynamic-tabs md-content md-tabs md-tab-content {
      background-color: #f6f6f6 !important; }
    tabs-dynamic-tabs md-content md-tabs md-tabs-wrapper {
      background: white; }
  tabs-dynamic-tabs md-content h1:first-child {
    margin-top: 0; }
tabs-dynamic-tabs md-input-container {
  padding-bottom: 0; }
tabs-dynamic-tabs .remove-tab {
  margin-bottom: 40px; }
tabs-dynamic-tabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }
tabs-dynamic-tabs .edit-form input {
  width: 100%; }
tabs-dynamic-tabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
tabs-dynamic-tabs md-tab[disabled] {
  opacity: 0.5; }
tabs-dynamic-tabs label {
  text-align: left; }
tabs-dynamic-tabs .long > input {
  width: 264px; }
tabs-dynamic-tabs .md-button.add-tab {
  transform: translateY(5px); }

