# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
public/font/font.css
public/font/font.css.map
src/all.css
src/all.css.map

# dependencies
/node_modules
/modules/*/node_modules
/bower_components
/typings

# IDEs and editors
/.idea

# misc
/.sass-cache
/.coverage
/.tscache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
