.DS_Store
.baseDir.*
.idea
dist/
out/

ng2-material/**/*.css
ng2-material/**/*.css.map
ng2-material/**/*.js
ng2-material/**/*.js.map
ng2-material/**/*.d.ts

examples/**/*.css
examples/**/*.css.map
examples/**/*.js
examples/**/*.js.map
examples/**/*.d.ts

test/**/*.js
test/**/*.js.map
test/**/*.d.ts
