.DS_Store
.baseDir.*
.idea
node_modules/
dist/
out/
site/
/public/coverage.json
/public/meta.json
/public/version.json

ng2-material/**/*.css
ng2-material/**/*.css.map
ng2-material/**/*.js
ng2-material/**/*.js.map
ng2-material/**/*.d.ts

public/font/*.css
public/font/*.css.map


test/**/*.js
test/**/*.js.map
test/**/*.d.ts
.coverage
.sass-cache
.tscache
coverage
node_modules
