<form ng-submit="submit()">
  <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span></p>

  <md-radio-group [(value)]="data.group1">

    <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
    <md-radio-button value="Banana" checked="true"> Banana</md-radio-button>
    <md-radio-button value="Mango" class="md-warn">Mango</md-radio-button>

  </md-radio-group>

  <hr/>

  <p>Selected Value: <span class="radioValue">{{ data.group2 }}</span></p>

  <md-radio-group [(value)]="data.group2" #group1 class="md-primary">

    <md-radio-button *ngFor="#d of radioData; #index = index"
                     [value]="d.value"
                     [checked]="group1.value==d.value"
                     [disabled]="d.isDisabled"
                     [ngClass]="{'md-align-top-left': index==1}">
      {{ d.label }}<br/>
          <span class="ipsum"
                *ngIf="index == 1">
            Duis placerat lectus et justo mollis, nec sodales orci congue. Vestibulum semper non urna ac suscipit.
            Vestibulum tempor, ligula id laoreet hendrerit, massa augue iaculis magna,
            sit amet dapibus tortor ligula non nibh.
          </span>

    </md-radio-button>

  </md-radio-group>

  <p>
    <button md-raised-button (click)="addItem()" type="button">Add</button>
    <button md-raised-button (click)="removeItem()" type="button">Remove</button>
  </p>

  <hr/>

  <p style="margin-bottom: 0;">Graphic radio buttons need to be labeled with the <code>aria-label</code> attribute.
  </p>
  <p style="margin-top: 0;">Selected Avatar: <span class="radioValue">{{ data.group3 }}</span></p>

  <md-radio-group #group [(value)]="data.group3">
    <md-radio-button *ngFor="#it of avatarData"
                     [checked]="group.value==it.value"
                     [value]="it.value"
                     [aria-label]="it.title">
      <img [src]="it.id">
    </md-radio-button>
  </md-radio-group>
</form>
