@import "../../core/style/variables";
@import "../../core/style/default-theme";
@import "../../core/style/mixins";

form {
  //
  // ngMessage base styles
  //
  md-messages, [md-messages] {
    position: relative;
    order: 4;
    overflow: hidden;
    @include rtl(clear, left, right);
  }

  md-message, [md-message] {
    overflow: hidden;
  }

}
