<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <div flex="50" flex-xs="100" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title class="md-headline">Card with image</md-card-title>
        <md-card-subtitle class="md-subhead">Large</md-card-subtitle>
        <img md-card-lg-image class="card-media" src="images/avatars/avatar10.svg"/>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button>Action 1</button>
        <button md-button>Action 2</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>

          <md-card-title>Card with  image</md-card-title>
          <md-card-subtitle>Extra Large</md-card-subtitle>

      </md-card-title>
      <md-card-content layout="row" layout-align="space-between">
        <img md-card-xl-image class="card-media" src="images/avatars/avatar12.svg">
        <md-card-actions layout="column">
          <button md-button class="md-icon-button" aria-label="Favorite">
            <i md-icon>favorite</i>
          </button>
          <button md-button class="md-icon-button" aria-label="Settings">
            <i md-icon>menu</i>
          </button>
          <button md-button class="md-icon-button" aria-label="Share">
            <i md-icon>share_arrow</i>
          </button>
        </md-card-actions>
      </md-card-content>
    </md-card>
  </div>
  <div flex="50" flex-xs="100" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title>Card with image</md-card-title>
        <md-card-subtitle>Small</md-card-subtitle>
        <img md-card-sm-image class="card-media" src="images/avatars/avatar13.svg">
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button>Action 1</button>
        <button md-button>Action 2</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title>Card with image</md-card-title>
        <md-card-subtitle>Medium</md-card-subtitle>
        <img md-card-md-image class="card-media" src="images/avatars/avatar11.svg">
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button>Action 1</button>
        <button md-button>Action 2</button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
