<div>
  <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div flex="50" flex-xs="100" layout="column">
      <md-card>
        <img md-card-image src="images/lights.jpg" md-card-image alt="Lights">
        <md-card-title>
          <span class="md-headline">In-card mixed actions</span>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <button md-button class="md-icon-button" aria-label="Favorite">
            <i md-icon>favorite</i>
          </button>
          <button md-button class="md-icon-button" aria-label="Share">
            <i md-icon>share_arrow</i>
          </button>
          <button md-button>Action 1</button>
          <button md-button>Action 2</button>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-header>
          <img md-card-avatar src="images/avatars/avatar2.svg"/>
          <md-card-title>User</md-card-title>
          <md-card-subtitle>subhead</md-card-subtitle>
        </md-card-header>
        <img src="images/grass.jpg" md-card-image alt="Grass">
        <md-card-title>
          <md-card-title>In-card mixed actions</md-card-title>
          <md-card-subtitle>Reversed</md-card-subtitle>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <button md-button>Action 1</button>
          <button md-button>Action 2</button>
          <button md-button class="md-icon-button" aria-label="toggle">
            <i md-icon>keyboard_arrow_up</i>
          </button>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div flex="50" flex-xs="100" layout="column">
      <md-card>
        <md-card-header>
          <i md-icon md-card-avatar>menu</i>
          <md-card-title>Title</md-card-title>
          <md-card-subtitle>subhead</md-card-subtitle>
        </md-card-header>
        <img src="images/old-board.jpg" md-card-image alt="Old Board">
        <md-card-title>
          <md-card-title>In-card actions</md-card-title>
          <md-card-subtitle>Description</md-card-subtitle>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <button md-button>Action 1</button>
          <button md-button>Action 2</button>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>
