@import '~@angular/material/core/style/variables';
@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/theming/all-theme';
@import '../../core/style/layout';

$subheader-line-height: 1em !default;
$subheader-font-size: rem(1.4) !default;
$subheader-padding: ($baseline-grid * 2) !default;
$subheader-font-weight: 500 !default;
$subheader-margin: 0 0 0 0 !default;
$subheader-sticky-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16) !default;

.md-subheader {
  display: block;
  font-size: $subheader-font-size;
  font-weight: $subheader-font-weight;
  line-height: $subheader-line-height;
  margin: $subheader-margin;
  position: relative;

  .md-subheader-inner {
    display: block;
    padding: $subheader-padding;
  }

  .md-subheader-content {
    display: block;
    z-index: 1;
    position: relative;
  }
}

// Theme

.md-subheader {
  color: md-color($md-light-theme-foreground, secondary-text, 0.23); //'{{ foreground-2-0.23 }}';
  background-color: md-color($md-light-theme-background, background); //'{{background-color}}';

  //&.md-primary {
  //  color: md-color($primary); //'{{primary-color}}'
  //}
  //&.md-accent {
  //  color: md-color($accent); //'{{accent-color}}'
  //}
  //&.md-warn {
  //  color: md-color($warn); //'{{warn-color}}'
  //}
}
