<div layout="column" class="scroll-shrink">

  <md-toolbar mdScrollShrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>{{ title }}</span>
      </h3>
    </div>
  </md-toolbar>

  <md-content flex>

    <md-list>

      <md-list-item class="md-3-line" *ngFor="#item of todos">
        <img [src]="item.face" [alt]="item.who" class="md-avatar">

        <div class="md-list-item-text">
          <h3>{{ item.what }}</h3>
          <h4>{{ item.who }}</h4>
          <p>{{ item.notes }}</p>
        </div>
        <md-divider inset></md-divider>
      </md-list-item>

    </md-list>

  </md-content>

</div>
