@import "./highlight";

:host {
  pre {
    @extend .highlight-block;
    min-height: 0;
    @extend .higlight-pre;
    > code.highlight {
      margin-bottom: 0 !important;
      font-size: 0.9em;
      border: 1px solid lightgrey;
    }

  }

  h3 {
    color: md-color($md-foreground, text);
  }
  h4 {
    color: md-color($md-foreground, secondary-text);
    margin-bottom: 0.5em;
  }

}

