<div class="syncing" layout-padding>
  <div layout="row" layout-wrap>

    <div flex="100" flex-gt-sm="50" layout="column">
      <div>
        <!--
          In IE, we cannot apply flex directly to <fieldset>
          @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
        -->
        <fieldset class="standard">
          <legend>Using <code>md-checkbox</code> with <code>[checked]</code></legend>
          <div layout="row" layout-wrap flex>
            <div flex="50" *ngFor="let item of items">
              <md-checkbox [checked]="exists(item, selected)" (click)="toggle(item, selected)">
                {{ item }} <span *ngIf="exists(item, selected)">selected</span>
              </md-checkbox>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div flex="100" flex-gt-sm="50" layout="column">
      <div>
        <fieldset class="standard">
          <legend>Using <code>&lt;input type="checkbox"&gt;</code></legend>
          <div layout="row" layout-wrap flex>
            <div *ngFor="let item of items" class="standard" flex="50">
              <label>
                <input type="checkbox" [checked]="exists(item, selected)" (click)="toggle(item, selected)"/>
                {{ item }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div flex="100">
      <h2 class="md-title">Selected Items</h2>
      <code class="string">{{selected | json}}</code>
    </div>
  </div>


</div>
