<div>
  <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div flex="50" flex-xs="100" layout="column">
      <md-card>
        <img src="public/images/lights.jpg" class="md-card-image" alt="Lights">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">In-card mixed actions</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <button md-button class="md-icon-button" aria-label="Favorite">
              <i md-icon>favorite</i>
            </button>
            <button md-button class="md-icon-button" aria-label="Share">
              <i md-icon>share_arrow</i>
            </button>
          </md-card-icon-actions>
          <button md-button>Action 1</button>
          <button md-button>Action 2</button>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" src="public/images/avatars/avatar2.svg"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">User</span>
            <span class="md-subhead">subhead</span>
          </md-card-header-text>
        </md-card-header>
        <img src="public/images/grass.jpg" class="md-card-image" alt="Grass">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">In-card mixed actions</span>
            <span class="md-subhead">Reversed</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <button md-button>Action 1</button>
          <button md-button>Action 2</button>
          <md-card-icon-actions>
            <button md-button class="md-icon-button" aria-label="toggle">
              <i md-icon>keyboard_arrow_up</i>
            </button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div flex="50" flex-xs="100" layout="column">
      <md-card>
        <md-card-header>
          <md-card-avatar>
            <i md-icon>menu</i>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Title</span>
            <span class="md-subhead">subhead</span>
          </md-card-header-text>
        </md-card-header>
        <img src="public/images/old-board.jpg" class="md-card-image" alt="Old Board">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">In-card actions</span>
            <span class="md-subhead">Description</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <button md-button>Action 1</button>
          <button md-button>Action 2</button>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>
