@import "../../../ng2-material/core/style/variables";
@import "../../../ng2-material/core/style/theme-functions";
@import "../../../ng2-material/core/style/default-theme";

body {
  padding: 20px;
}

h4 {
  margin: 10px 0;
}

md-progress-circular {
  margin-bottom: 20px;
}

#loaders > md-switch {
  margin: -10px 0 0 10px;
}

#loaders > h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

#loaders > p {
  margin-right: 20px;
  margin-bottom: 24px;
}

p.small {
  font-size: 0.8em;
  margin-top: -18px;
}

hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1);
}

p.small > code {
  font-size: 0.8em;
}

.visible {
  border-color: rgba(221, 221, 177, 0);
}