<div layout="column">

  <md-content layout-padding>
    <form [ngFormModel]="projectForm">

      <md-input-container class="md-block">
        <label for="description">Description</label>
        <input md-input ngControl="description" id="description" [(value)]="description">
        <div md-messages="description">
          <div md-message="required">This is required.</div>
          <div md-message="maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label for="clientName">Client Name</label>
        <input md-input ngControl="clientName" id="clientName" [(value)]="clientName">
        <div md-messages="clientName" role="alert">
          <div md-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label for="clientEmail">Client Email</label>
        <input md-input type="email" ngControl="clientEmail" id="clientEmail" [(value)]="clientEmail"/>
        <div md-messages="clientEmail" role="alert">
          <div md-message>Your email must be between 10 and 100 characters long and look like an e-mail address.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label for="rate">Hourly Rate (USD)</label>
        <input md-input type="number" step="any" ngControl="rate" id="rate" [(value)]="rate" #rateInput/>
        <div md-messages="rate" role="alert">
          <div md-message="mdNumberRequired">
            You've got to charge something! You can't just <b>give away</b> a Missile Defense
            System.
          </div>
          <div md-message="mdMin">
            You should charge at least $800 an hour. This job is a big deal... if you mess up,
            everyone dies!
          </div>
          <div md-message="mdPattern">
            You should charge exactly $1,234.
          </div>
          <div md-message="mdMax">
            ${{rateInput.value}} an hour? That's a little ridiculous. I doubt event Bill Clinton could afford that.
          </div>
        </div>
      </md-input-container>
    </form>
  </md-content>

</div>
