<div layout="column" class="md-inline-form">
  <form>
    <md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="Google">
    </md-input>

    <table style="width: 100%" cellspacing="0"><tr>
      <td><md-input placeholder="First name" style="width: 100%"></md-input></td>
      <td><md-input placeholder="Really Super Long Last Name Placeholder That Will Be Truncated" style="width: 100%"></md-input></td>
    </tr></table>
    <p>
      <md-input class="demo-full-width" placeholder="Address" value="1600 Amphitheatre Pkway"></md-input>
      <md-input class="demo-full-width" placeholder="Address 2"></md-input>
    </p>
    <table style="width: 100%" cellspacing="0"><tr>
      <td><md-input class="demo-full-width" placeholder="City"></md-input></td>
      <td><md-input class="demo-full-width" placeholder="State"></md-input></td>
      <td><md-input #postalCode class="demo-full-width" maxLength="5"
                    placeholder="Postal Code"
                    value="94043">
        <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
      </md-input></td>
    </tr></table>
  </form>
</div>
