<md-sidenav-container layout="row" flex>
  <md-sidenav name="menu" class="app-menu" [style]="fullPage ? 'side' : 'over'">
    <md-toolbar [routerLink]="['Index']">
      <div class="md-toolbar-tools">
        <h1>ng2-material</h1>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item md-ink (inked)="navigate(['Component', {id: value.id}])"
                    [class.md-active]="navigation?.currentTitle==value.name"
                    *ngFor="#value of components">
        {{value.name}}
      </md-list-item>
    </md-list>
  </md-sidenav>
  <section class="app-content" layout="column" layout-align="start center" flex>
    <md-toolbar class="shadow-toolbar md-whiteframe-z1" md-peekaboo [break]="210" breakAction="show"></md-toolbar>
    <md-toolbar class="fixed-toolbar"
                md-peekaboo
                [break]="190"
                breakAction="show">
    </md-toolbar>
    <md-toolbar class="hero">
      <h1 md-peekaboo
          [breakMd]="72"
          [breakXs]="20"
          breakAction="hide">{{navigation?.currentTitle}}</h1>
    </md-toolbar>
    <md-toolbar class="fixed-toolbar">
      <div class="md-toolbar-tools">
        <button md-button
                class="md-hamburger md-icon-button"
                hide-gt-lg
                (click)="showMenu($event)"
                aria-label="Home">
          <i md-icon class="md-dark">menu</i>
        </button>
        <h2 md-peekaboo
            [breakMd]="72"
            [breakXs]="20"
            breakAction="show">
          <span class="verbose-title" *ngIf="navigation?.currentTitle != site">Components <small>–</small>&nbsp;</span>
          <span>{{navigation?.currentTitle}}</span>
        </h2>
        <span flex></span>
        <a md-peekaboo
           href="https://github.com/justindujardin/ng2-material/releases/tag/v{{version}}"
           target="_blank"
           [breakMd]="72"
           breakAction="show"
           *ngIf="version" class="md-caption">v{{version}}</a>
      </div>
    </md-toolbar>

    <md-content class="examples" md-scroll-y layout-padding>
      <router-outlet></router-outlet>
    </md-content>


    <footer>
      <div class="container" layout="row" layout-align="center center">
        <a class="previous" flex="50" *ngIf="navigation.prevLink"
           layout="row" layout-align="start center"
           [routerLink]="navigation.prevLink.routeLink">
          <i md-icon>arrow_back</i>
          <span layout="column" show-gt-sm hide>
            <span class="label">Previous</span>
            <span class="name md-title">{{navigation.prevLink.brief}}</span>
          </span>

        </a>
        <a class="next" flex="50" *ngIf="navigation.nextLink"
           layout="row" layout-align="end center"
           [routerLink]="navigation.nextLink.routeLink">
          <span layout="column">
            <span class="label">Next</span>
            <div class="name md-title">{{navigation.nextLink.brief}}</div>
          </span>
          <i md-icon>arrow_forward</i>
        </a>
      </div>
    </footer>

  </section>
</md-sidenav-container>

