<md-toolbar class="md-whiteframe-z1">
  <div class="md-toolbar-tools">
    <button md-button class="md-icon-button" aria-label="Settings">
      <i md-icon class="md-light">menu</i>
    </button>
    <h2>
      <span>Angular2 Material</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<md-content md-scroll-y layout-padding>


  <ul>
    <li *ngFor="#value of meta"><span>{{value.name}}</span></li>
  </ul>


  <section *ngFor="#value of meta">
    <h1 [innerText]="value.name"></h1>
    <example *ngFor="#demo of value.examples" [model]="demo"></example>
    <md-divider></md-divider>
  </section>

</md-content>
