<div class="doc-demo-content doc-content">
  <div flex layout="column" style="z-index:1">

    <div class="doc-description" ng-bind-html="demoCtrl.demoDescription.contents | toHtml"></div>

    <section class="demo-container md-whiteframe-z1"
             ng-class="{'show-source': demoCtrl.$showSource}">

      <md-toolbar class="demo-toolbar md-primary">
        <div class="md-toolbar-tools">
          <h3 [innerText]="model?.name"></h3>
          <span flex></span>
          <button md-button *ngFor="#file of orderedFiles"
                  aria-label="View Source"
                  [style.display]="showSource!=true?'none':'block'"
                  [ngClass]="{ active: selected==file.type }"
                  [innerText]="file.type"
                  (click)="selected=file.type">
          </button>
          <button md-button
                  class="md-icon-button"
                  aria-label="View Source"
                  [ngClass]="{ active: showSource }"
                  (click)="showSource = !showSource">
            <!--<md-tooltip md-autohide>View Source</md-tooltip>-->
            <i md-icon>code</i>
          </button>
        </div>
      </md-toolbar>

      <!-- Source views -->
      <md-tabs class="demo-source-tabs md-primary" [hidden]="showSource==false" style="min-height: 0;">
        <md-tab *ngFor="#file of orderedFiles" label="file.name">
          <md-content md-scroll-y class="demo-source-container" [style.display]="selected!=file.type?'none':'block'">
            <highlight [text]="file.data" [type]="file.type" class="no-header"></highlight>
          </md-content>
        </md-tab>
      </md-tabs>

      <!-- Live Demos -->
      <div #example></div>
    </section>

  </div>
</div>
