<div class="doc-demo-content doc-content">
  <div flex layout="column" style="z-index:1">

    <section class="demo-container md-whiteframe-z1"
             [ngClass]="{'show-source': showSource}">

      <md-toolbar class="demo-toolbar md-primary">
        <div class="md-toolbar-tools">
          <h3>{{ model?.name }}</h3>
          <span flex></span>
          <button md-button
                  class="md-icon-button"
                  aria-label="View Source"
                  [ngClass]="{ active: showSource }"
                  (click)="toggleSource()">
            <!--<md-tooltip md-autohide>View Source</md-tooltip>-->
            <i md-icon>code</i>
          </button>
        </div>
      </md-toolbar>

      <!-- Source views -->
      <md-tabs md-dynamic-height
               *ngIf="showSource"
               [ngClass]="{ shown: showTabs }"
               mdNoScroll="true"
               class="demo-source-tabs md-primary md-no-scroll">
        <template md-tab *ngFor="#file of orderedFiles" [label]="file?.type">
          <md-content md-scroll-y class="demo-source-container">
            <highlight [text]="file.data" [type]="file.type" class="no-header"></highlight>
          </md-content>
        </template>
      </md-tabs>

      <!-- Live Demos -->
      <div #example></div>
    </section>

  </div>
</div>
