
.demo-container {
  .demo-toolbar {
    button[md-button] {
      color: rgba(255,255,255,0.6);
      &.active {
        color: rgba(255,255,255,0.9);
      }
    }

  }
}

.layout-content,
.doc-content {
  max-width: 864px;
  min-width: 400px;
  margin: 16px;
  box-sizing: border-box;
}

docs-demo {
  display: block;
  margin-top: 16px;
}

.doc-description p {
  margin-top: 0;
}

.demo-container {
  border-radius: 4px;
  margin-bottom: 16px;
  -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
  position: relative;
  padding-bottom: 0;
}

.demo-source-tabs {
  z-index: 1;
  -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  height: 448px;
  background: #fff;
  overflow: hidden;
}

.demo-source-tabs md-tabs-wrapper {
  background-color: #2C80D2 !important;
}

md-tabs.demo-source-tabs md-tab,
md-tabs.demo-source-tabs .md-header {
  background-color: #444444 !important;
}

md-tabs.demo-source-tabs md-tab-label {
  color: #ccc !important;
}

md-tabs.demo-source-tabs .active md-tab-label {
  color: #fff !important;
}

.demo-source-tabs.ng-hide {
  min-height: 0;
  height: 0;
}

.demo-source-tabs {
  position: relative;
  width: 100%;
  z-index: 0;
}

.demo-content {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.small-demo .demo-source-tabs:not(.ng-hide) {
  height: 224px;
}

.small-demo .demo-content {
  min-height: 128px;
}

.doc-content > * {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.demo-content > * {
  -webkit-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  -moz-box-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}

.demo-content > div[layout-fill] {
  min-height: 448px;
}

.small-demo .demo-content > div[layout-fill] {
  min-height: 224px;
}

.layout-content .small-demo .demo-content > div[layout] {
  min-height: auto !important;
  max-height: auto !important;
  height: 128px !important;
}

.small-demo .demo-toolbar,
.small-demo .md-toolbar-tools {
  min-height: 48px;
  max-height: 48px;
}

md-toolbar.demo-toolbar {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

md-toolbar.demo-toolbar md-tab-label {
  color: #99E4EE
}

md-toolbar.demo-toolbar [md-button]:hover {
  background: rgba(0, 0, 0, 0.1);
}

md-toolbar.demo-toolbar [md-button].active, md-toolbar.demo-toolbar [md-button].active md-icon {
  color: #418CD6;
}

md-toolbar.demo-toolbar [md-button] {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #616161;
}

.demo-source-container {
  display: block;
  height: 400px;
}
