@import "../../core/style/variables";
@import "../../core/style/shadows";
@import "../../core/style/mixins";
@import "../../core/style/default-theme";

$radio-width: 20px !default;
$radio-height: $radio-width !default;
$radio-text-margin: 10px !default;
$radio-top-left: 12px !default;
$radio-margin: 16px;

md-radio-button {
  display: block;
  margin: 15px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  &.md-align-top-left .md-radio-container {
    top: $radio-top-left;
  }

  // Contains the radio button element
  .md-radio-container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: inline-block;
    width: $radio-width;
    height: $radio-width;
    cursor: pointer;
    @include rtl(left, 0, auto);
    @include rtl(right, auto, 0);
  }

  // This is the style applied to the content (included via <ng-content>). If we could rely on shadow
  // DOM always being present, this would use the ::content psuedo-class.
  .md-radio-label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    //  pointer-events: none;  ???
    width: auto;
    @include rtl(margin-left, $radio-text-margin + $radio-width, 0);
    @include rtl(margin-right, 0, $radio-text-margin + $radio-width);
  }

  .md-radio-root {
    display: block;
    cursor: pointer;
  }

}

md-radio-group {
  border: 1px dotted transparent;
  display: inline-block;
  outline: none;
}

.md-radio-off {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: $radio-width;
  height: $radio-width;
  border: solid 2px;
  border-radius: 50%;
  transition: border-color ease 0.28s;
}

.md-radio-on {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: $radio-width;
  height: $radio-width;
  border-radius: 50%;
  transition: transform ease 0.28s;
  transform: scale(0);

  .md-radio-checked & {
    transform: scale(0.5);
  }
}

// THEME

.md-radio-off {
  border-color: md-color($md-foreground, icon);
}

.md-radio-on {
  background-color: md-color($md-accent, 0.87);
}

.md-radio-checked .md-radio-off {
  border-color: md-color($md-accent, 0.87);
}

// TODO
.md-radio-checked .md-ink-ripple {
}

.md-radio-container .md-ripple {
}

md-radio-group:not([disabled]) md-radio-button:not([disabled]) {

  &.md-primary {
    .md-radio-on {
      background-color: md-color($md-primary, 0.87);
    }

    .md-radio-checked .md-radio-off {
      border-color: md-color($md-primary, 0.87);
    }

    .md-radio-checked .md-ink-ripple {
      color: md-color($md-primary, 0.87);
    }

    .md-radio-container .md-ripple {
      color: md-color($md-primary, 600);
    }
  }

  &.md-warn {
    .md-radio-on {
      background-color: md-color($md-warn, 0.87);
    }
    .md-radio-checked .md-radio-off {
      border-color: md-color($md-warn, 0.87);
    }
    .md-radio-checked .md-ink-ripple {
      color: md-color($md-warn, 0.87);
    }
    .md-radio-container .md-ripple {
      color: md-color($md-warn, 600);
    }
  }
}

md-radio-button[disabled],
md-radio-group[disabled] md-radio-button {

  .md-radio-label {
    color: md-color($md-foreground, disabled);
  }
  .md-radio-container {
    .md-radio-off, .md-radio-on {
      border-color: md-color($md-foreground, disabled);
    }
  }
}
