<div class="md-padding" id="popupContainer">
  <p class="inset">
    Open a dialog over the app's content. Press escape or click outside to close the dialog and
    send focus back to the triggering button.
  </p>

  <div class="dialog-demo-content" layout-gt-md="row" layout="column" layout-margin>
    <button md-raised-button class="md-primary" (click)="showAlert($event)" flex="auto">
      Alert Dialog
    </button>
    <button md-raised-button class="md-primary" (click)="showConfirm($event)" flex="auto">
      Confirm Dialog
    </button>
    <button md-raised-button class="md-primary" (click)="showAdvanced($event)" flex="auto">
      Custom Dialog
    </button>
    <div hide-gt-sm layout="row" layout-align="center center" flex="100">
      <md-checkbox [(checked)]="customFullscreen" aria-label="Fullscreen Custom Dialog">Custom Dialog Fullscreen
      </md-checkbox>
    </div>
    <button md-raised-button disabled class="md-primary" (click)="showTabDialog($event)" flex="auto">
      Tab Dialog
    </button>
  </div>
  <p class="footer">Note: The <b>Confirm</b> dialog sets <code>config.clickOutsideToClose(false)</code>.</p>

  <div *ngIf="status">
    <br/>
    <b layout="row" layout-align="center center" class="md-padding">
      {{status}}
    </b>
  </div>

</div>
