@import '~@angular/material/core/style/variables';
@import '~@angular/material/core/style/elevation';
@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/theming/theming';

md-dialog {
  display: none;
}
.md-dialog {
  min-width: 300px;
  min-height: 100px;

  padding: $baseline-grid * 3;

  @include md-elevation(13);

  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: $swift-ease-out;
  transform: scale(0.2);

  order: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &:focus {
    outline: none;
  }

  &.md-active {
    opacity: 1;
    transform: perspective(1px) scale(1.0);
  }
}

// Theme

$dialog-border-radius: 4px !default;

.md-dialog {
  border-radius: $dialog-border-radius;
  background-color: md-color($md-light-theme-background, background); //'{{background-color}}';

  &.md-content-overflow {
    .md-actions, md-dialog-actions {
      border-top-color: md-color($md-light-theme-foreground, divider); //'{{foreground-4}}';
    }
  }
}

@import "dialog-actions";
@import "dialog-title";
