@import "../../core/style/variables";
@import "../../core/style/shadows";
@import "../../core/style/default-theme";

.md-dialog {
  position: fixed;
  z-index: 80;

  /** Center the dialog. */
  top: 50%;
  left: 50%;
  min-width: 300px;
  min-height: 100px;

  padding: $baseline-grid * 3;

  box-shadow: $whiteframe-shadow-13dp;
  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: $swift-ease-out;
  transform: translate3d(-50%, -50%, 0) scale(0.2);

  order: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &:not([layout=row]) > * > *:first-child:not(.md-subheader) {
    margin-top: 0;
  }

  &:focus {
    outline: none;
  }

  &.md-active {
    opacity: 1;
    transition: $swift-ease-out;
    transform: translate3d(-50%, -50%, 0) scale(1.0);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
    filter: none;
  }

  &.md-dialog-absolute {
    position: absolute;
  }

  .md-actions, md-dialog-actions {
    display: flex;
    order: 2;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    padding-top: $baseline-grid * 3;
    padding-right: $baseline-grid;
    padding-left: $baseline-grid * 2;

    // Align md-actions outside of the padding of .md-dialog
    margin-bottom: -$baseline-grid * 3;
    margin-left: -$baseline-grid * 3;
    margin-right: -$baseline-grid * 3;

    right: -$baseline-grid * 3;
    min-height: $baseline-grid * 6.5;
    overflow: hidden;

    [md-button], [md-raised-button] {
      margin-bottom: $baseline-grid;
      margin-left: $baseline-grid;
      margin-right: 0;
      margin-top: $baseline-grid;
    }
  }

}

// Theme

$dialog-border-radius: 4px !default;

.md-dialog {
  border-radius: $dialog-border-radius;
  background-color: md-color($md-background, lighter); //'{{background-color}}';

  &.md-content-overflow {
    .md-actions, md-dialog-actions {
      border-top-color: md-color($md-foreground, divider); //'{{foreground-4}}';
    }
  }
}


