<div layout="column" layout-margin style="padding:25px;">

  <h4 style="margin-top:10px">Determinate</h4>

  <p>For operations where the percentage of the operation completed can be determined, use a determinate indicator. They
    give users a quick sense of how long an operation will take.</p>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="determinate" [value]="determinateValue"></md-progress-circular>
  </div>

  <h4>Indeterminate</h4>

  <p>For operations where the user is asked to wait a moment while something finishes up, and it's not necessary to
    expose what's happening behind the scenes and how long it will take, use an indeterminate indicator.</p>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <h4>Theming </h4>

  <p>
    Your current theme colors can be used to easily colorize your progress indicator with `md-warn` or `md-accent`
    colors.
    To easily hide a <b>&lt;linear&gt;</b> component, simply set the <b>md-mode</b> to "" or null.
  </p>

  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular class="md-hue-2" [mode]="modes[0]" diameter="20px"></md-progress-circular>
    <md-progress-circular class="md-accent" [mode]="modes[1]" diameter="40"></md-progress-circular>
    <md-progress-circular class="md-accent md-hue-1" [mode]="modes[2]" diameter="60"></md-progress-circular>
    <md-progress-circular class="md-warn md-hue-3" [mode]="modes[3]" diameter="70"></md-progress-circular>
    <md-progress-circular [mode]="modes[4]" diameter="96"></md-progress-circular>
  </div>


  <hr [ngClass]="{'visible' : activated}">

  <div id="loaders" layout="row" layout-align="start center">

    <p>Progress Circular Indicators: </p>

    <md-switch
        [checked]="activated"
        (md-on-change)="toggleActivation()"
        aria-label="Toggle Progress Circular Indicators">
      <h5 [innerText]="activated?'On':'Off'"></h5>
    </md-switch>
  </div>

  <p class="small">
    Note: With above switch -- that simply clears the md-mode in each <code>&lt;md-progress-circular md-mode=""&gt;</code>
    element --
    developers can easily disable the animations and hide their progress indicators.
  </p>

</div>
