@import "../../core/style/variables";
@import "../../core/style/default-theme";
@import "../../core/style/mixins";

@mixin input-placeholder-color($color) {
  &::-webkit-input-placeholder,
  &::-moz-placeholder, /* Firefox 19+ */
  &:-moz-placeholder, /* Firefox 18- */
  &:-ms-input-placeholder {
    color: $color;
  }
}
$chips-padding: 2px !default;
$chip-font-size: rem(1.6) !default;
$chip-height: rem(3.2) !default;
$chip-padding: 0 rem(1.2) 0 rem(1.2) !default;
$chip-input-padding: 0 !default;
$chip-remove-padding-right: rem(2.2) !default;
$chip-remove-line-height: 26px !default;
$chip-margin: rem(0.8) rem(0.8) 0 0 !default;
$chip-delete-icon-size: rem(1.8) !default;
$input-container-padding: 2px !default;
$input-border-width-default: 1px !default;
$input-border-width-focused: 2px !default;


md-chips {
  @include pie-clearfix();
  display: block;
  font-family: $font-family;
  font-size: $chip-font-size;
  padding: $chips-padding;
  position: relative;
  margin: 18px 0;
  vertical-align: middle;
  border-width: 0 0 $input-border-width-default 0;
  border-style: solid; // Firefox fix
  border-color: md-color($md-foreground, divider);

  &.md-readonly ._md-chip-input-container {
    min-height: $chip-height;
  }

  &:not(.md-readonly) {
    cursor: text;
  }
  &.md-focused {
    padding-bottom: 1; // Increase border width by 1px, decrease padding by 1
    border-width: 0 0 $input-border-width-focused 0;
    border-color: md-color($md-primary, 500);
  }

  md-chip {
    cursor: default;
    border-radius: $chip-height / 2;
    display: block;
    height: $chip-height;
    line-height: $chip-height;
    margin: $chip-margin;
    padding: $chip-padding;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    background: rgb(224,224,224);
    color: rgb(66,66,66);

    .md-chip-content {
      display: block;
      float: left;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      &:focus {
        outline: none;
      }
    }
    &.md-chip-content-edit-is-enabled {
      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */
    }
    .md-chip-remove-container {
      float: left;
      line-height: $chip-remove-line-height;
      margin-top: $chip-delete-icon-size - $chip-height / 2;
      margin-bottom: $chip-delete-icon-size - $chip-height / 2;
    }
    .md-chip-remove {
      text-align: center;
      width: $chip-delete-icon-size;
      height: $chip-delete-icon-size;
      min-width: 0;
      padding: 0;
      background: transparent;
      border: none;
      box-shadow: none;
      margin: 0;
      position: relative;
      .md-icon {
        height: $chip-delete-icon-size;
        width: $chip-delete-icon-size;
      }
    }
  }
  md-chip-input-container {
    display: block;
    line-height: $chip-height;
    margin: $chip-margin;
    padding: $chip-input-padding;
    float: left;
    input {
      &:not([type]),&[type="email"],&[type="number"],&[type="tel"],&[type="url"],&[type="text"] {
        border: 0;
        height: $chip-height;
        line-height: $chip-height;
        padding: 0;
        &:focus {
          outline: none;
        }
      }
    }
    input {
      border:0;
      height: $chip-height;
      line-height: $chip-height;
      padding: 0;
      &:focus {
        outline:none;
      }
    }

    input {
      background:transparent;
      border-width: 0;
    }
  }
}
// IE only
@media screen and (-ms-high-contrast: active) {
  md-chip-input-container,
  md-chip {
    border: 1px solid #fff;
  }
}
