
form {
  padding-left: 20px;
}

hr {
  margin-left: -20px;
  opacity: 0.3;
}

p:last-child {
  padding-bottom: 50px;
}

.radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px;

}

img {
  padding: 15px;
  width: 128px;
  height: 128px;
}

.ipsum {
  color: saddlebrown;
  font-size: 0.9em;
}
