@import "core/style/variables";
@import "core/style/mixins";
@import "core/style/theme-functions";
@import "core/style/default-theme";

:host {
  display: block;
  @include md-stacking-context();

  md-toolbar.demo-toolbar {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
    .material-icons {
      color: white;
    }
  }

  .doc-content {
    margin: 24px 0;
  }

  .demo-container {
    border-radius: 4px;
    margin-bottom: 16px;
    -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    position: relative;
    padding-bottom: 0;
    background-color: white;
    //background-color: md-color($md-background, 50);
  }

  .demo-source-tabs {
    z-index: 1;
    -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    height: 448px;
    max-height: 0;
    background: #fff;
    overflow: hidden;
    &.shown {
      max-height: 448px;
    }
  }

  .demo-source-tabs.ng-hide {
    min-height: 0;
    height: 0;
  }

  .demo-source-tabs {
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .demo-content {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .demo-content > div[layout-fill] {
    min-height: 448px;
  }

  .demo-source-container {
    display: block;
    height: 400px;
  }

  md-tabs-content-wrapper {
    max-height: 448px;
  }

}
