@import '../../../ng2-material/core/style/variables';
@import '../../../ng2-material/core/style/mixins';
@import '../../../ng2-material/core/style/default-theme';

md-input-container {
  margin: 15px 15px 15px 30px;
  height: 34px !important;
}
md-input-container .md-input {
  color: rgba(255, 255, 255, 0.87059);
  border-color: rgba(0, 0, 0, 0.54);
}
md-input-container.md-input-focused {
  boder-color: rgba(255, 255, 255, 0.87059);
}
md-input-container label, md-input-container .md-placeholder {
  color: rgba(255, 255, 255, 0.87059);
}
