<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <div flex="50" layout="column" flex-xs="100">
    <md-card>

      <img src="public/images/grass.jpg" class="md-card-image" alt="Grass">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Action buttons</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button>Action 1</button>
        <button md-button>Action 2</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <img src="public/images/pool.jpg" class="md-card-image" alt="Pool">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Vertical action buttons</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <md-card-actions layout="column" layout-align="start">
        <button md-button>Action 1</button>
        <button md-button>Action 2</button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex="50" layout="column" flex-xs="100">
    <md-card>
      <img src="public/images/lights.jpg" class="md-card-image" alt="Lights">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Icon action buttons</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button class="md-icon-button" aria-label="Favorite">
          <i md-icon>favorite</i>
        </button>
        <button md-button class="md-icon-button" aria-label="Settings">
          <i md-icon>menu</i>
        </button>
        <button md-button class="md-icon-button" aria-label="Share">
          <i md-icon>share_arrow</i>
        </button>
      </md-card-actions>
    </md-card>
    <md-card>
      <img src="public/images/rose.jpg" class="md-card-image" alt="Rose">
      <md-card-actions layout="row" layout-align="end center">
        <button md-button class="md-icon-button" aria-label="Favorite">
          <i md-icon>favorite</i>
        </button>
        <button md-button class="md-icon-button" aria-label="Settings">
          <i md-icon>menu</i>
        </button>
        <button md-button class="md-icon-button" aria-label="Share">
          <i md-icon>share_arrow</i>
        </button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-header>
        <md-card-avatar>
          <img src="public/images/logo.svg"/>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">Angular</span>
          <span class="md-subhead">Material</span>
        </md-card-header-text>
      </md-card-header>
      <img src="public/images/old-board.jpg" class="md-card-image" alt="Old Board">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card header</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
  </div>
</md-content>
